@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #bdfbff);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.box {
  text-align: center;
  width: auto;
  max-width: auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  margin-top: 40px;
}

.box h2 {
  font-size: 50px;
}
.lapangan {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.lapangan img {
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
}

.lapangan p a {
  text-decoration: none;
  color: black;
}

nav {
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
}

nav div img {
  max-width: 250px;
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav ul li {
  font-size: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}
